<h1>File Browser</h1>

current directory: <%= @directory %><br/>
<% @entries.each do |entry| %>
  <% if entry[:dir] %>
    &#x1f4c2;<a href="<%= entry[:path] %>"><%= entry[:name] %></a>
  <% else %>
    &#x1f4c4;<%= entry[:name] %>
  <% end %>
  <br/>
<% end %>
